app {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.flexed-col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (min-width: 600px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 3600px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 400px;
	}
}

@media (min-width: 768px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 1800px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 600px;
	}
}

@media (min-width: 1024px) {
	.photo-col {
		margin-top: 20px;
		width: 100%;
		height: 900px;
	}

	.video {
		margin-top: 20px;
		width: 100%;
		height: 800px;
	}
}

.photo-sm {
	width: 100%;
    height: 380px;
    background-color: lemonchiffon;
}

.photo-big {
	width: 100%;
	overflow: scroll;
	height: 480px;
}
